1.Loop through the items in the fruits list

In [4]:
fruits=["apple","banana","cherry"]
for x in fruits:
     print(x)

apple
banana
cherry

2.Print i as long as i is less than 6

In [6]:
i=1
while(i<6):
     print(i)
     i+=1

1
2
3
4
5

3.Print "hello World"if a is greater than b.

In [7]:
a=50
b=10
if(a>b):
     print("Hello World")

Hello World

4.Take a variable x and print "Even" if the number(x) is divisible by 2,otherwise print "Odd"

In [15]:
x=10
if(x%2==0):
     print("Even")
else:
     print("Odd")

Even

5.Take a variable y and print "Grade A" if y is greater than 90,"Grade B" if y is greater than 60 but less than or equal to 90 and "Grade F"otherwise.

In [21]:
y=90
if(y>90):
     print("Grade A")
elif(y>60 and y<=90):
     print("Grade B")
else:
     print("Grade F")

Grade B

6.Write a for loop to print all the numbers between 10 and 50.

In [24]:
for i in range(11,50):
     print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

7.Write a for loop to print all the Odd numbers between 50 and 100.

In [25]:
for i in range(50,100):
  if(i%2!=0):
      print(i)

51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99